<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:osgi="http://www.springframework.org/schema/osgi"
	   xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">
	<osgi:list id="handlerMappings" greedy-proxying="true" interface="org.springframework.web.servlet.HandlerMapping" cardinality="0..N"/>
	
	
	
	
	<security:http auto-config="true" access-denied-page="/403.jsp" lowercase-comparisons="true">
        <security:intercept-url pattern="/images/**" filters="none"/>
        <security:intercept-url pattern="/css/**" filters="none"/>
        <security:intercept-url pattern="/js/**" filters="none"/>
        <security:intercept-url pattern="/403*" filters="none"/>
        <security:intercept-url pattern="/404*" filters="none"/>
        <security:intercept-url pattern="/500*" filters="none"/> 
        <security:intercept-url pattern="/ext3/**" filters="none"/>
        <security:intercept-url pattern="/fckeditor/**" filters="none"/>  
        <security:form-login default-target-url="/index.jsp" login-page="/login.jsp" authentication-failure-url="/login.jsp?error=true" login-processing-url="/j_security_check" />
        <security:logout logout-url="/j_logout.do" logout-success-url="/login.jsp"/> 
   		<security:remember-me key="RememberAppUser"/>
   		
   		<security:session-management invalid-session-url="/sessionTimeout.htm" session-fixation-protection="none">
        	<security:concurrency-control max-sessions="1" />
        </security:session-management>
    </security:http>
    
    <security:authentication-manager alias="authenticationManager">
	    <security:authentication-provider user-service-ref="appUserDao">
	    	<security:password-encoder hash="sha-256" base64="true"/>
	    </security:authentication-provider>
    </security:authentication-manager>
	<!-- 
	<security:http auto-config="true">
        <security:form-login login-page="/notLogin.jsp" authentication-failure-url="/loginFailure.jsp" default-target-url="/security/security!isLogin.do" />
        <security:logout logout-success-url="/security/security!isLogin.do" />
        <security:remember-me user-service-ref="userDetailsService"/>
        <security:session-management invalid-session-url="/sessionTimeout.htm" session-fixation-protection="none">
        	<security:concurrency-control max-sessions="1" />
        </security:session-management>
    </security:http>
     -->
</beans>
