select * from test s where 1=1

#if ($condition)
    and s.test1=#var(${test1})
    and s.test2=#var(${test2})
#else
    and s.test2=#var(${test2})
    and s.test3=#var(${test3})
    and s.test4=#var(${test4})
#end
